.filter-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .filter-group {
    display: flex;
    flex-direction: column;
  }
  
  .filter-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .filter-group input,
  .filter-group select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .apply-button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
  }
  
  .apply-button:hover {
    background-color: #0056b3;
  }
  .sort-filter-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
  }
  
  .sort-filter-container select {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .alphabet-buttons{
    padding: 2px 5px 10px 5px;

  }
  @media (min-width: 600px) {
    .filter-container {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .filter-group {
      flex: 1;
      min-width: 200px;
    }
  }
  